<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-icon-180x180.png">
    <link href="/static/assets/favicon.ico" rel="icon">
    <title>login page</title>
    <link href="/static/css/main.3f6952e4.css" rel="stylesheet">
    <head/>
<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
    {% include 'head.html' %}
</header>
<div class="section-container">
    <div class="container">
        <div class="row-input-top">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">欢迎登录</h1>
                </div>
                <div class="row-input text-center">
                    <div class="col-md-10 col-md-offset-1">
                        <form action="{% url 'pic:login' %}" class="reveal-content"  method="post">
                             {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                            {% endif %}
                            <div class="row-input-top">
                                <div class="col-md-7">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ login_form.username }}
<!--                                        <input type="text" class="form-control" id="username" placeholder="{{ login_form.username.label_tag }}">-->
                                    </div>
                                    <div class="form-group">
                                        {{ login_form.password }}
<!--                                        <input type="password" class="form-control" id="password" placeholder="{{ login_form.password.label_tag }} ">-->
                                    </div>
                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                    <button type="submit" class="btn btn-default pull-right">登录</button>
                                    <p>没有账户？点此<a href="{% url 'pic:register' %}">注册</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/main.70a66962.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
</body>
</html>
